{% extends "base.html" %}

{% block content %}
<h1>Homepage</h1>
<p>Visible only when logged in.</p>
<a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>

<div>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: <span id="user_email">{{ user.email }}</span></li>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Modifier ses informations
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier ses informations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="form_email" type="email" name="email" value="{{ user.email }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="update_email()">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function update_email() {
        // Get value of new email
        var new_email = $('#form_email').val()
        // update the current page
        $('#user_email').html(new_email)
        // Call api to update the email in the DB
        $.post('{% url "update_user_email" %}', {'email': new_email}, function (data) {
            console.log(data)
        })
        // Hide the modal
        $('#exampleModal').modal('hide')
    }
</script>
{% endblock %}
